@import 'react-lite-youtube-embed/dist/LiteYouTubeEmbed.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles can be added below */

html {
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}

.mainContainer {
    padding-top: 64px;
    width: 100%;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.titlePageCurs {
    padding: 40px;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    color: #FFD700;
}




.titlePageCursWhiteText{
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    color: #FFF !important;
}


#comp-lzj1loyg {
    width: 400px;
    height: 300px;
    --fill-opacity: 1;
    --stroke-width: 4;
    --stroke: #000000;
    --stroke-opacity: 1;
    --fill: #FFFFFF;
    --svg-calculated-padding: 2px 2px 2px 2px;
    --svg-calculated-width: calc(100% - 4px);
    --svg-calculated-height: calc(100% - 4px);
}

#comp-lzj1loyg svg path {
    fill: var(--fill);
    fill-opacity: var(--fill-opacity);
    stroke: var(--stroke);
    stroke-width: var(--stroke-width);
    stroke-opacity: var(--stroke-opacity);
}

#comp-lzj1loyg text {
    fill: #000000;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

#comp-lzj1loyg tspan {
    text-anchor: start;
}

.accordion {
    cursor: pointer;
    /*padding: 1rem;*/
    /*padding: 18px;*/
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.accordion-summary {
    background-color: #1c1c1c;
    color: white;
    justify-content: left;
}

.accordion-details {
    background-color: #1c1c1c;
}

.title-accordion {
    font-size: 15px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-on-hover:hover {
    animation: pulse 0.8s infinite;
}
